.hero-section {
  .hero-image {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    img {
      width: 85%;
    }
  }

  .hero-content {
    padding-left: 35px;
    margin-bottom: 55px;
    h1 {
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    p {
      font-size: 14.5px;
      font-weight: 300;
      width: 70%;
      line-height: 115%;
    }
  }
}
